@tailwind base;
@tailwind components;
@tailwind utilities;


.fly {
  transform: translateY(-20px) rotate(5deg);
}

.float {
  transform: translateY(-10px);
}

.wiggle {
  transform: rotate(-10deg);
}

.hoot {
  transform: scale(1.2);
}